.conteudo {
  padding: 50px;

  margin: 20px auto;
  display: flex;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  justify-content: center;
  align-items: center;
  flex-flow: column;

  max-width: 800px;
}

h3 {
  display: flex;
  align-items: center;
}

.imgProfile {
  height: 128px;
  width: 128px;
  border: 2px solid #000000;
  border-radius: 64px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
}

.projetos {
  padding: 50px;

  margin: 20px 10rem;
  display: flex;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;

  max-width: 40rem;
}
.repositorio {
  font-size: 38px;
  color: #000000;
  margin: 12px 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 45px;
  }

  .conteudo {
    width: auto;
    height: 400px;
    align-items: center;
    flex-flow: column;
    padding: 40px;
    margin: 6px;
  }

  .projetos {
    padding: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .repositorio {
    font-size: 18px;
    color: #000000;
    margin: 6px 0;
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 10px;
  }

  .conteudo {
    width: auto;
    height: 400px;
    align-items: center;
    flex-flow: column;
    max-width: 40rem;
  }

  .repositorio {
    font-size: 16px;
    margin: 4px 0;
  }
}
@media screen and (max-width: 460px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 1px;
  }

  .conteudo {
    width: auto;
    height: 35rem;
    align-items: center;
    flex-flow: column;
    max-width: 40rem;
  }

  .projetos {
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 1px;
  }
  .repositorio {
    width: auto;
    font-size: 16px;
    margin: 6px 0;
  }
}
