.conteudo {
  padding: 50px;

  margin: 20px 10rem;
  display: flex;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;

  max-width: 40rem;
}

h3 {
  display: flex;
  align-items: center;
}

.imgProfile {
  height: 128px;
  width: 128px;
  border: 2px solid #000000;
  border-radius: 64px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
}

.projetos {
  padding: 50px;

  margin: 20px 10rem;
  display: flex;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;

  max-width: 40rem;
}
.repositorio {
  font-size: 38px;
  color: #000000;
  margin: 12px 0;
  text-align: center;
}

@media screen and (max-width: 800) {
  .about {
    display: flex;
    flex-direction: column;
    margin-left: -5rem;
  }
  .conteudo {
    width: 100%;
    height: 20px;
    border-radius: 20px;
  }
  .projetos {
    padding: 20px;

    margin: 10px 3rem;
    display: flex;

    background-color: #ffffff;
    border: 2px solid #ffffff;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;

    max-width: 40rem;
  }
  .repositorio {
    font-size: 19px;
    color: #000000;
    margin: 6px 0;
  }
}
@media screen and (max-width: 600) {
  .about {
    width: 100%;
    height: 20px;
    margin-left: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
  }
  .conteudo {
    width: 100%;
    height: 1px;
    border-radius: 20px;
  }
  .repositorio {
    font-size: 19px;
    color: #000000;
    margin: 6px 0;
  }
}
