header {
  width: 100%;
  height: 52px;
  background-color: white;
  border-radius: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

img {
  height: 40px;
}

ul {
  list-style: none;
  color: #000000;

  align-items: end;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}
